@model Doukala.ViewModels.ManagerViewModel
@{
    ViewBag.Title = "About";
}

<h2>About</h2>  

<div class="row">
    <div class="col-lg-12">
       
    </div>
</div>  

<div class="row">
    <div class="col-lg-pull-12">
         @Html.DisplayFor(_ => Model.FullName)
    </div>
</div>

